html, body{
    padding: 0;
    margin: 0;
}

nav
{
    width: 100%;
    margin: 20px 0;
    display: flex;
    overflow: auto;
}

nav a:hover
{
    background-color: #008198;
}

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0087a4;
}


nav ul li
{
    width: 20%;
    float: left;
}

nav ul li a
{

    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 100%;
    color: #fff;
    font-size: 20px;
}

nav ul li a img
{
    height: auto;
    max-width: 100px;
}

.current
{
    background-color: #008198;
}

body
{
    font-family: "arial", serif;
    width: 100%;
    background-color: aqua;

}

footer
{

}

.container {
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    background-color: white;
    height: 100%;
}

@media (max-width: 767px) {
    .container {
        padding-right: 0;
        padding-left: 0;

    }
}