html, body{
    padding: 0;
    margin: 0;
}

nav
{
    width:100%;
    margin: 20px 0;
    display: flex;

}


nav ul {
    width: 200%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0087a4;
}


nav ul li
{
    width: 15%;
    float: left;
}

nav ul li a
{

    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 100%;
    color: #fff;
}

nav ul li a img
{
    height: auto;
    max-width: 100px;
}

.current
{
    background-color: #008198;
}

body
{
    font-family: "arial", serif;
    width: 100%;


}

.container {
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

@media (max-width: 767px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}