html, body{
    padding: 0;
    margin: 0;
}

nav
{
    width: 100%;
    margin: 20px 0;
    display: flex;
    overflow: auto;
}

nav a:hover
{
    background-color: #008198;
}

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0087a4;
}


nav ul li
{
    width: 20%;
    float: left;
}

nav ul li a
{

    text-align: center;
    justify-content: center;
    padding: 20%;
    text-decoration: none;
    width: 100%;
    color: black;
    font-size: 20px;
}

nav ul li a img
{
    height: auto;
    max-width: 100px;
}

.current
{
    background-color: #008198;
}

body {
    display: flex;
    font-family: "arial", serif;
    width: 100%;
    background-color: aqua;
    flex-direction: column;

}

input {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

#pack_submit {
    width: 92%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    color: black;
    background-color: #0087a4;
}

select {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


.storeAddress {
    text-align: left;
}

.designContact {
    text-align: right;
}

.container {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    background-color: white;
    height: 100%;
    min-height: 100vh;
}

.footer_parent {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: 100%;
}

.footer_child{
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #0087a4;
    width: 1200px;
}


@media (max-width: 767px) {
    .container {
        padding-right: 0;
        padding-left: 0;

    }
}